<%- include ('partials/header')  %> 

<body>
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h2 id="title">Fazer uma pergunta</h2>
            </div>
            <div class="card-body">
                <form>
                    <label>Título</label>
                    <input type="text" placeholder="Título" class="form-control">
                    <br />
                    <label>Descrição</label>
                    <textarea placeholder="Descreva a pergunta" class="form-control"></textarea>
                    <br />
        
                    <button>Perguntar</button>
                </form>
            </div>
        </div>
        
       
       
    </div>
</body>


<%- include ('partials/footer') %> 