body {
    background-color: rgb(104, 35, 169);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#title {
    text-decoration: underline rgb(104, 35, 169);
    font-weight: bold;
    color: blueviolet;
    cursor: help;
}

button {
    background-color: blueviolet;
    border: none;
    color: antiquewhite;
    width: 115px;
    height: 40px;
    border-radius: 5%;
}
button:hover{
    font-weight: bold;
}

nav {
    background-color: rgb(65, 10, 117);
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(69, 9, 125);
}

img {
    width: 100px;
    height: 40px;
    padding-left: 20px;
}